[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
Hip
Left_Thigh
Left_Knee
Left_Ankle
Left_ToeBase
Left_SetD_Bone_01
Left_SetD_Bone_02
Left_SetD_Bone_03
Left_SetC_Bone_01
Left_SetC_Bone_02
Left_SetC_Bone_03
Left_SetB_Bone_01
Left_SetB_Bone_02
Left_SetB_Bone_03
Left_SetA_Bone_01
Left_SetA_Bone_02
Left_SetA_Bone_03
Left_AnkleRoll_01
Left_AnkleRoll_02
Left_AnkleRoll_03
Left_LegRoll_01
Left_LegRoll_01_Butt
Left_LegRoll_02
Left_LegRoll_02_Butt
Left_LegRoll_03
Left_LegRoll_03_Butt
Left_Knee_Butt
Left_UpLegRoll_01
Left_UpLegRoll_01_Butt
Left_UpLegRoll_02
Left_UpLegRoll_02_Butt
Left_UpLegRoll_03
Left_UpLegRoll_03_Butt
Left_Thigh_Butt
Tail_1
Tail_2
Tail_3
Tail_4
Tail_5
Tail_6
Tail_7
Tail_8
Tail_9
Tail_10
Tail_11
Tail_12
Tail_13
Tail_14
Tail_15
Tail_16
Tail_17
Spine_1
Spine_2
Spine_3
Spine_4
Spine_5
Spine_6
Spine_7
Spine_8
chest_01
chest_02
neck_01
neck_02
head
face_Head_JNT
brow_MID_JNT
cheek01_l_JNT
cheek01_r_JNT
eyeBall_l_JNT
eyeBall_r_JNT
eyelid01_Cr_l_JNT
eyelid01_Cr_r_JNT
eyelid02_Cr_l_JNT
eyelid02_Cr_r_JNT
eyelid_dwn_01_l_JNT
eyelid_dwn_01_r_JNT
eyelid_dwn_02_l_JNT
eyelid_dwn_02_r_JNT
eyelid_dwn_03_l_JNT
eyelid_dwn_03_r_JNT
eyelid_up_01_l_JNT
eyelid_up_01_r_JNT
eyelid_up_02_l_JNT
eyelid_up_02_r_JNT
eyelid_up_03_l_JNT
eyelid_up_03_r_JNT
lipCnr_l_JNT
lipCnr_r_JNT
lipOut_l_JNT
lipOut_r_JNT
lipUp_01_l_JNT
lipUp_01_r_JNT
lipUp_02_l_JNT
lipUp_02_r_JNT
lipUp_03_l_JNT
lipUp_03_r_JNT
nasi01_l_JNT
nasi01_r_JNT
nasi02_l_JNT
nasi02_r_JNT
nasi03_l_JNT
nasi03_r_JNT
nasi_MID_JNT
nose_JNT
sneerBtm_MID_JNT
sneerTop_MID_JNT
sneer_l_JNT
sneer_r_JNT
upTeeth_JNT
jaw_JNT
ear_01_l_JNT
ear_03_l_JNT
ear_05_l_JNT
ear_01_r_JNT
ear_03_r_JNT
ear_05_r_JNT
earBase_a_l_JNT
earBase_b_l_JNT
earBase_c_l_JNT
earBase_a_r_JNT
earBase_b_r_JNT
earBase_c_r_JNT
whiskerMain_01_l_bn
whiskerMain_02_l_bn
whiskerMain_03_l_bn
whiskerMain_01_r_bn
whiskerMain_02_r_bn
whiskerMain_03_r_bn
tongue_FK_01_JNT
tongue_FK_02_JNT
tongue_FK_03_JNT
tongue_FK_04_JNT
tongue_l_04_JNT
tongue_r_04_JNT
tongue_l_03_JNT
tongue_r_03_JNT
tongue_l_02_JNT
tongue_r_02_JNT
snapObj_JNT
neck_btm_tweak
neck_top_tweak
neck_tweak_l
neck_tweak_r
clavicle_l
shoulder_l
elbow_l
wrist_l
hand_l
fingerbase_l
armEnd_l
index_l_01
index_l_02
index_l_claw
middle_l_01
middle_l_02
middle_l_claw
ring_l_01
ring_l_02
ring_l_claw
pinkie_l_01
pinkie_l_02
pinkie_l_claw
thumb_l_01
thumb_l_claw
elbowTwist01_l
elbowTwist02_l
elbowTwist03_l
shoulderTwist_l
clavicle_r
shoulder_r
elbow_r
wrist_r
hand_r
fingerbase_r
armEnd_r
index_r_01
index_r_02
index_r_claw
middle_r_01
middle_r_02
middle_r_claw
ring_r_01
ring_r_02
ring_r_claw
pinkie_r_01
pinkie_r_02
pinkie_r_claw
thumb_r_01
thumb_r_claw
elbowTwist01_r
elbowTwist02_r
elbowTwist03_r
shoulderTwist_r
clavicle_tweak_l
clavicle_tweak_r
neck_btm_tweak2
neck_btm_tweak3
chest_btm_tweak
chest_btm_tweak2
chest_btm_tweak3
Spine_Right_6
Spine_Btm_6
Spine_Left_6
Spine_Left_5
Spine_Right_5
Spine_Btm_5
Spine_Left_4
Spine_Right_4
Spine_Btm_4
Spine_Left_3
Spine_Right_3
Spine_Btm_3
Spine_Left_2
Spine_Right_2
Spine_Btm_2
Right_Thigh
Right_Knee
Right_Ankle
Right_ToeBase
Right_SetD_Bone_01
Right_SetD_Bone_02
Right_SetD_Bone_03
Right_SetC_Bone_01
Right_SetC_Bone_02
Right_SetC_Bone_03
Right_SetB_Bone_01
Right_SetB_Bone_02
Right_SetB_Bone_03
Right_SetA_Bone_01
Right_SetA_Bone_02
Right_SetA_Bone_03
Right_AnkleRoll_01
Right_AnkleRoll_02
Right_AnkleRoll_03
Right_LegRoll_01
Right_LegRoll_01_Butt
Right_LegRoll_02
Right_LegRoll_02_Butt
Right_LegRoll_03
Right_LegRoll_03_Butt
Right_Knee_Butt
Right_UpLegRoll_01
Right_UpLegRoll_01_Butt
Right_UpLegRoll_02
Right_UpLegRoll_02_Butt
Right_UpLegRoll_03
Right_UpLegRoll_03_Butt
Right_Thigh_Butt
Hip_Btm

[RemoveTracks]
CAT_EarBack_L.1=all
CAT_EarBack_L.2=all
CAT_EarBack_L.3=all
CAT_EarBack_L.4=all
CAT_EarBack_L.5=all
CAT_EarBack_L.6=all
CAT_EarBack_L.7=all
CAT_EarBack_L.8=all
CAT_EarBack_L.9=all
CAT_EarBack_L.10=all
CAT_EarBack_L.11=all
CAT_EarBack_L.12=all
CAT_EarBack_L.13=all
CAT_EarBack_L.14=all
CAT_EarBack_L.15=all
CAT_EarBack_L.16=all
CAT_EarBack_L.17=all
CAT_EarBack_L.18=all
CAT_EarBack_L.19=all
CAT_EarBack_L.20=all
CAT_EarBack_L.21=all
CAT_EarBack_L.22=all
CAT_EarBack_L.23=all
CAT_EarBack_L.24=all
CAT_EarBack_L.25=all
CAT_EarBack_L.26=all
CAT_EarBack_L.27=all
CAT_EarBack_L.28=all
CAT_EarBack_L.29=all
CAT_EarBack_L.30=all
CAT_EarBack_L.31=all
CAT_EarBack_L.32=all
CAT_EarBack_L.33=all
CAT_EarBack_L.34=all
CAT_EarBack_L.35=all
CAT_EarBack_L.51=all
CAT_EarBack_L.54=all
CAT_EarBack_L.55=all
CAT_EarBack_L.56=all
CAT_EarBack_L.57=all
CAT_EarBack_L.58=all
CAT_EarBack_L.59=all
CAT_EarBack_L.60=all
CAT_EarBack_L.61=all
CAT_EarBack_L.65=all
CAT_EarBack_L.66=all
CAT_EarBack_L.67=all
CAT_EarBack_L.68=all
CAT_EarBack_L.69=all
CAT_EarBack_L.70=all
CAT_EarBack_L.87=all
CAT_EarBack_L.88=all
CAT_EarBack_L.89=all
CAT_EarBack_L.90=all
CAT_EarBack_L.91=all
CAT_EarBack_L.92=all
CAT_EarBack_L.93=all
CAT_EarBack_L.94=all
CAT_EarBack_L.95=all
CAT_EarBack_L.96=all
CAT_EarBack_L.97=all
CAT_EarBack_L.98=all
CAT_EarBack_L.99=all
CAT_EarBack_L.100=all
CAT_EarBack_L.101=all
CAT_EarBack_L.102=all
CAT_EarBack_L.103=all
CAT_EarBack_L.104=all
CAT_EarBack_L.105=all
CAT_EarBack_L.106=all
CAT_EarBack_L.107=all
CAT_EarBack_L.108=all
CAT_EarBack_L.109=all
CAT_EarBack_L.110=all
CAT_EarBack_L.112=all
CAT_EarBack_L.113=all
CAT_EarBack_L.114=all
CAT_EarBack_L.115=all
CAT_EarBack_L.116=all
CAT_EarBack_L.120=all
CAT_EarBack_L.121=all
CAT_EarBack_L.123=all
CAT_EarBack_L.124=all
CAT_EarBack_L.125=all
CAT_EarBack_L.126=all
CAT_EarBack_L.127=all
CAT_EarBack_L.128=all
CAT_EarBack_L.130=all
CAT_EarBack_L.131=all
CAT_EarBack_L.132=all
CAT_EarBack_L.133=all
CAT_EarBack_L.134=all
CAT_EarBack_L.135=all
CAT_EarBack_L.136=all
CAT_EarBack_L.137=all
CAT_EarBack_L.138=all
CAT_EarBack_L.139=all
CAT_EarBack_L.140=all
CAT_EarBack_L.141=all
CAT_EarBack_L.144=all
CAT_EarBack_L.145=all
CAT_EarBack_L.146=all
CAT_EarBack_L.147=all
CAT_EarBack_L.148=all
CAT_EarBack_L.149=all
CAT_EarBack_L.150=all
CAT_EarBack_L.151=all
CAT_EarBack_L.152=all
CAT_EarBack_L.154=all
CAT_EarBack_L.155=all
CAT_EarBack_L.156=all
CAT_EarBack_L.157=all
CAT_EarBack_L.158=all
CAT_EarBack_L.159=all
CAT_EarBack_L.160=all
CAT_EarBack_L.161=all
CAT_EarBack_L.162=all
CAT_EarBack_L.163=all
CAT_EarBack_L.164=all
CAT_EarBack_L.165=all
CAT_EarBack_L.166=all
CAT_EarBack_L.167=all
CAT_EarBack_L.168=all
CAT_EarBack_L.169=all
CAT_EarBack_L.170=all
CAT_EarBack_L.171=all
CAT_EarBack_L.172=all
CAT_EarBack_L.173=all
CAT_EarBack_L.174=all
CAT_EarBack_L.175=all
CAT_EarBack_L.176=all
CAT_EarBack_L.177=all
CAT_EarBack_L.179=all
CAT_EarBack_L.180=all
CAT_EarBack_L.181=all
CAT_EarBack_L.182=all
CAT_EarBack_L.183=all
CAT_EarBack_L.184=all
CAT_EarBack_L.185=all
CAT_EarBack_L.186=all
CAT_EarBack_L.188=all
CAT_EarBack_L.189=all
CAT_EarBack_L.190=all
CAT_EarBack_L.191=all
CAT_EarBack_L.192=all
CAT_EarBack_L.197=all
CAT_EarBack_L.200=all
CAT_EarBack_L.202=all
CAT_EarBack_L.204=all
CAT_EarBack_L.205=all
CAT_EarBack_L.206=all
CAT_EarBack_L.207=all
CAT_EarBack_L.208=all
CAT_EarBack_L.209=all
CAT_EarBack_L.210=all
CAT_EarBack_L.211=all
CAT_EarBack_L.212=all
CAT_EarBack_L.213=all
CAT_EarBack_L.214=all
CAT_EarBack_L.215=all
CAT_EarBack_L.216=all
CAT_EarBack_L.218=all
CAT_EarBack_L.220=all
CAT_EarBack_L.221=all
CAT_EarBack_L.222=all
CAT_EarBack_L.223=all
CAT_EarBack_L.224=all
CAT_EarBack_L.225=all
CAT_EarBack_L.226=all
CAT_EarBack_L.227=all
CAT_EarBack_L.228=all
CAT_EarBack_L.229=all
CAT_EarBack_L.230=all
CAT_EarBack_L.231=all
CAT_EarBack_L.232=all
CAT_EarBack_L.233=all
CAT_EarBack_L.234=all
CAT_EarBack_L.235=all
CAT_EarBack_L.236=all
CAT_EarBack_L.237=all
CAT_EarBack_L.238=all
CAT_EarBack_L.239=all
CAT_EarBack_L.240=all
CAT_EarBack_L.241=all
CAT_EarBack_L.242=all
CAT_EarBack_L.243=all
CAT_EarBack_L.244=all
CAT_EarBack_L.245=all
CAT_EarBack_L.246=all
CAT_EarBack_L.247=all
CAT_EarBack_L.248=all
CAT_EarBack_L.249=all
