[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
Hip
Left_Thigh
Left_Knee
Left_Ankle
Left_ToeBase
Left_SetD_Bone_01
Left_SetD_Bone_02
Left_SetD_Bone_03
Left_SetC_Bone_01
Left_SetC_Bone_02
Left_SetC_Bone_03
Left_SetB_Bone_01
Left_SetB_Bone_02
Left_SetB_Bone_03
Left_SetA_Bone_01
Left_SetA_Bone_02
Left_SetA_Bone_03
Left_AnkleRoll_01
Left_AnkleRoll_02
Left_AnkleRoll_03
Left_LegRoll_01
Left_LegRoll_01_Butt
Left_LegRoll_02
Left_LegRoll_02_Butt
Left_LegRoll_03
Left_LegRoll_03_Butt
Left_Knee_Butt
Left_UpLegRoll_01
Left_UpLegRoll_01_Butt
Left_UpLegRoll_02
Left_UpLegRoll_02_Butt
Left_UpLegRoll_03
Left_UpLegRoll_03_Butt
Left_Thigh_Butt
Tail_1
Tail_2
Tail_3
Tail_4
Tail_5
Tail_6
Tail_7
Tail_8
Tail_9
Tail_10
Tail_11
Tail_12
Tail_13
Tail_14
Tail_15
Tail_16
Tail_17
Spine_1
Spine_2
Spine_3
Spine_4
Spine_5
Spine_6
Spine_7
Spine_8
chest_01
chest_02
neck_01
neck_02
head
face_Head_JNT
brow_MID_JNT
cheek01_l_JNT
cheek01_r_JNT
eyeBall_l_JNT
eyeBall_r_JNT
eyelid01_Cr_l_JNT
eyelid01_Cr_r_JNT
eyelid02_Cr_l_JNT
eyelid02_Cr_r_JNT
eyelid_dwn_01_l_JNT
eyelid_dwn_01_r_JNT
eyelid_dwn_02_l_JNT
eyelid_dwn_02_r_JNT
eyelid_dwn_03_l_JNT
eyelid_dwn_03_r_JNT
eyelid_up_01_l_JNT
eyelid_up_01_r_JNT
eyelid_up_02_l_JNT
eyelid_up_02_r_JNT
eyelid_up_03_l_JNT
eyelid_up_03_r_JNT
lipCnr_l_JNT
lipCnr_r_JNT
lipOut_l_JNT
lipOut_r_JNT
lipUp_01_l_JNT
lipUp_01_r_JNT
lipUp_02_l_JNT
lipUp_02_r_JNT
lipUp_03_l_JNT
lipUp_03_r_JNT
nasi01_l_JNT
nasi01_r_JNT
nasi02_l_JNT
nasi02_r_JNT
nasi03_l_JNT
nasi03_r_JNT
nasi_MID_JNT
nose_JNT
sneerBtm_MID_JNT
sneerTop_MID_JNT
sneer_l_JNT
sneer_r_JNT
upTeeth_JNT
jaw_JNT
ear_01_l_JNT
ear_03_l_JNT
ear_05_l_JNT
ear_01_r_JNT
ear_03_r_JNT
ear_05_r_JNT
earBase_a_l_JNT
earBase_b_l_JNT
earBase_c_l_JNT
earBase_a_r_JNT
earBase_b_r_JNT
earBase_c_r_JNT
whiskerMain_01_l_bn
whiskerMain_02_l_bn
whiskerMain_03_l_bn
whiskerMain_01_r_bn
whiskerMain_02_r_bn
whiskerMain_03_r_bn
tongue_FK_01_JNT
tongue_FK_02_JNT
tongue_FK_03_JNT
tongue_FK_04_JNT
tongue_l_04_JNT
tongue_r_04_JNT
tongue_l_03_JNT
tongue_r_03_JNT
tongue_l_02_JNT
tongue_r_02_JNT
snapObj_JNT
neck_btm_tweak
neck_top_tweak
neck_tweak_l
neck_tweak_r
clavicle_l
shoulder_l
elbow_l
wrist_l
hand_l
fingerbase_l
armEnd_l
index_l_01
index_l_02
index_l_claw
middle_l_01
middle_l_02
middle_l_claw
ring_l_01
ring_l_02
ring_l_claw
pinkie_l_01
pinkie_l_02
pinkie_l_claw
thumb_l_01
thumb_l_claw
elbowTwist01_l
elbowTwist02_l
elbowTwist03_l
shoulderTwist_l
clavicle_r
shoulder_r
elbow_r
wrist_r
hand_r
fingerbase_r
armEnd_r
index_r_01
index_r_02
index_r_claw
middle_r_01
middle_r_02
middle_r_claw
ring_r_01
ring_r_02
ring_r_claw
pinkie_r_01
pinkie_r_02
pinkie_r_claw
thumb_r_01
thumb_r_claw
elbowTwist01_r
elbowTwist02_r
elbowTwist03_r
shoulderTwist_r
clavicle_tweak_l
clavicle_tweak_r
neck_btm_tweak2
neck_btm_tweak3
chest_btm_tweak
chest_btm_tweak2
chest_btm_tweak3
Spine_Right_6
Spine_Btm_6
Spine_Left_6
Spine_Left_5
Spine_Right_5
Spine_Btm_5
Spine_Left_4
Spine_Right_4
Spine_Btm_4
Spine_Left_3
Spine_Right_3
Spine_Btm_3
Spine_Left_2
Spine_Right_2
Spine_Btm_2
Right_Thigh
Right_Knee
Right_Ankle
Right_ToeBase
Right_SetD_Bone_01
Right_SetD_Bone_02
Right_SetD_Bone_03
Right_SetC_Bone_01
Right_SetC_Bone_02
Right_SetC_Bone_03
Right_SetB_Bone_01
Right_SetB_Bone_02
Right_SetB_Bone_03
Right_SetA_Bone_01
Right_SetA_Bone_02
Right_SetA_Bone_03
Right_AnkleRoll_01
Right_AnkleRoll_02
Right_AnkleRoll_03
Right_LegRoll_01
Right_LegRoll_01_Butt
Right_LegRoll_02
Right_LegRoll_02_Butt
Right_LegRoll_03
Right_LegRoll_03_Butt
Right_Knee_Butt
Right_UpLegRoll_01
Right_UpLegRoll_01_Butt
Right_UpLegRoll_02
Right_UpLegRoll_02_Butt
Right_UpLegRoll_03
Right_UpLegRoll_03_Butt
Right_Thigh_Butt
Hip_Btm

[RemoveTracks]
CAT_MEOW.1=all
CAT_MEOW.2=all
CAT_MEOW.3=all
CAT_MEOW.4=all
CAT_MEOW.5=all
CAT_MEOW.6=all
CAT_MEOW.7=all
CAT_MEOW.8=all
CAT_MEOW.9=all
CAT_MEOW.10=all
CAT_MEOW.11=all
CAT_MEOW.12=all
CAT_MEOW.13=all
CAT_MEOW.14=all
CAT_MEOW.15=all
CAT_MEOW.16=all
CAT_MEOW.17=all
CAT_MEOW.18=all
CAT_MEOW.19=all
CAT_MEOW.20=all
CAT_MEOW.21=all
CAT_MEOW.22=all
CAT_MEOW.23=all
CAT_MEOW.24=all
CAT_MEOW.25=all
CAT_MEOW.26=all
CAT_MEOW.27=all
CAT_MEOW.28=all
CAT_MEOW.29=all
CAT_MEOW.30=all
CAT_MEOW.31=all
CAT_MEOW.32=all
CAT_MEOW.33=all
CAT_MEOW.34=all
CAT_MEOW.35=all
CAT_MEOW.51=all
CAT_MEOW.54=all
CAT_MEOW.55=all
CAT_MEOW.56=all
CAT_MEOW.57=all
CAT_MEOW.58=all
CAT_MEOW.59=all
CAT_MEOW.60=all
CAT_MEOW.65=all
CAT_MEOW.104=all
CAT_MEOW.109=all
CAT_MEOW.111=all
CAT_MEOW.112=all
CAT_MEOW.113=all
CAT_MEOW.114=all
CAT_MEOW.115=all
CAT_MEOW.116=all
CAT_MEOW.117=all
CAT_MEOW.118=all
CAT_MEOW.120=all
CAT_MEOW.121=all
CAT_MEOW.124=all
CAT_MEOW.125=all
CAT_MEOW.127=all
CAT_MEOW.128=all
CAT_MEOW.135=all
CAT_MEOW.136=all
CAT_MEOW.137=all
CAT_MEOW.138=all
CAT_MEOW.139=all
CAT_MEOW.144=all
CAT_MEOW.148=all
CAT_MEOW.149=all
CAT_MEOW.150=all
CAT_MEOW.151=all
CAT_MEOW.152=all
CAT_MEOW.154=all
CAT_MEOW.155=all
CAT_MEOW.156=all
CAT_MEOW.157=all
CAT_MEOW.158=all
CAT_MEOW.159=all
CAT_MEOW.160=all
CAT_MEOW.161=all
CAT_MEOW.162=all
CAT_MEOW.163=all
CAT_MEOW.164=all
CAT_MEOW.165=all
CAT_MEOW.166=all
CAT_MEOW.167=all
CAT_MEOW.168=all
CAT_MEOW.169=all
CAT_MEOW.173=all
CAT_MEOW.174=all
CAT_MEOW.175=all
CAT_MEOW.176=all
CAT_MEOW.177=all
CAT_MEOW.179=all
CAT_MEOW.180=all
CAT_MEOW.181=all
CAT_MEOW.182=all
CAT_MEOW.183=all
CAT_MEOW.184=all
CAT_MEOW.185=all
CAT_MEOW.186=all
CAT_MEOW.188=all
CAT_MEOW.189=all
CAT_MEOW.190=all
CAT_MEOW.191=all
CAT_MEOW.192=all
CAT_MEOW.193=all
CAT_MEOW.197=all
CAT_MEOW.201=all
CAT_MEOW.203=all
CAT_MEOW.204=all
CAT_MEOW.205=all
CAT_MEOW.207=all
CAT_MEOW.208=all
CAT_MEOW.210=all
CAT_MEOW.211=all
CAT_MEOW.213=all
CAT_MEOW.214=all
CAT_MEOW.216=all
CAT_MEOW.218=all
CAT_MEOW.220=all
CAT_MEOW.221=all
CAT_MEOW.222=all
CAT_MEOW.223=all
CAT_MEOW.224=all
CAT_MEOW.225=all
CAT_MEOW.226=all
CAT_MEOW.227=all
CAT_MEOW.228=all
CAT_MEOW.229=all
CAT_MEOW.230=all
CAT_MEOW.231=all
CAT_MEOW.232=all
CAT_MEOW.233=all
CAT_MEOW.234=all
CAT_MEOW.235=all
CAT_MEOW.236=all
CAT_MEOW.237=all
CAT_MEOW.238=all
CAT_MEOW.239=all
CAT_MEOW.240=all
CAT_MEOW.241=all
CAT_MEOW.242=all
CAT_MEOW.243=all
CAT_MEOW.244=all
CAT_MEOW.245=all
CAT_MEOW.246=all
CAT_MEOW.247=all
CAT_MEOW.248=all
CAT_MEOW.249=all
