[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Root
center
Antenne_00
Antenne_01
Antenne_02
Antenne_03
Antenne_04
L_Shoulder
L_up_Wing
L_Ear
L_joue
L_down_Wing
L_eye
R_Shoulder
R_up_Wing
R_down_Wing
R_joue
R_Ear
R_eye
antenne00
antenne01
antenne02
antenne03
antenne04
antenne05
antenne06
antenne07
antenne08

[RemoveTracks]
Dir_Down.1=all
Dir_Down.2=all
Dir_Down.3=all
Dir_Down.4=all
Dir_Down.5=all
Dir_Down.6=all
Dir_Down.7=all
Dir_Down.10=all
Dir_Down.12=all
Dir_Down.13=all
Dir_Down.16=all
Dir_Down.18=all
Dir_Down.19=all
Dir_Down.20=all
Dir_Down.21=all
Dir_Down.22=all
Dir_Down.23=all
Dir_Down.24=all
Dir_Down.25=all
Dir_Down.26=all
Dir_Down.27=all
