[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Root
center
Antenne_00
Antenne_01
Antenne_02
Antenne_03
Antenne_04
L_Shoulder
L_up_Wing
L_Ear
L_joue
L_down_Wing
L_eye
R_Shoulder
R_up_Wing
R_down_Wing
R_joue
R_Ear
R_eye
antenne00
antenne01
antenne02
antenne03
antenne04
antenne05
antenne06
antenne07
antenne08

[RemoveTracks]
Dir_Neutre.1=all
Dir_Neutre.2=all
Dir_Neutre.3=all
Dir_Neutre.4=all
Dir_Neutre.5=all
Dir_Neutre.6=all
Dir_Neutre.7=all
Dir_Neutre.8=all
Dir_Neutre.9=all
Dir_Neutre.10=all
Dir_Neutre.11=all
Dir_Neutre.12=all
Dir_Neutre.13=all
Dir_Neutre.14=all
Dir_Neutre.15=all
Dir_Neutre.16=all
Dir_Neutre.17=all
Dir_Neutre.18=all
Dir_Neutre.19=all
Dir_Neutre.20=all
Dir_Neutre.21=all
Dir_Neutre.22=all
Dir_Neutre.23=all
Dir_Neutre.24=all
Dir_Neutre.25=all
Dir_Neutre.26=all
Dir_Neutre.27=all
