[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Root
center
Antenne_00
Antenne_01
Antenne_02
Antenne_03
Antenne_04
L_Shoulder
L_up_Wing
L_Ear
L_joue
L_down_Wing
L_eye
R_Shoulder
R_up_Wing
R_down_Wing
R_joue
R_Ear
R_eye
antenne00
antenne01
antenne02
antenne03
antenne04
antenne05
antenne06
antenne07
antenne08

[RemoveTracks]
Dir_Left.1=all
Dir_Left.2=all
Dir_Left.3=all
Dir_Left.4=all
Dir_Left.5=all
Dir_Left.6=all
Dir_Left.7=all
Dir_Left.10=all
Dir_Left.12=all
Dir_Left.13=all
Dir_Left.16=all
Dir_Left.18=all
Dir_Left.19=all
Dir_Left.20=all
Dir_Left.21=all
Dir_Left.22=all
Dir_Left.23=all
Dir_Left.24=all
Dir_Left.25=all
Dir_Left.26=all
Dir_Left.27=all
