[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Root
center
Antenne_00
Antenne_01
Antenne_02
Antenne_03
Antenne_04
L_Shoulder
L_up_Wing
L_Ear
L_joue
L_down_Wing
L_eye
R_Shoulder
R_up_Wing
R_down_Wing
R_joue
R_Ear
R_eye
antenne00
antenne01
antenne02
antenne03
antenne04
antenne05
antenne06
antenne07
antenne08

[RemoveTracks]
DRONE_WakeUp0004.2=all
DRONE_WakeUp0004.3=all
DRONE_WakeUp0004.4=all
DRONE_WakeUp0004.5=all
DRONE_WakeUp0004.6=all
