[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
ROOT
Center
WING_L
Shoulder_L
Elbow_L
Wrist_L
Finger_L
FeatherTop_L
Finger02_L
WingBoneL_F_002
Feather_L
BackFeather_L
WING_R
Shoulder_R
Elbow_R
Wrist_R
Finger_R
FeatherTop_R
Finger02_R
FeatherTop02_R
Feather_R
BackFeather_R
BACK
Tail
TailCenter
TailCenter02
TailLeft
TailLeft02
TailRight
TailRight02
Leg_L
Knees_L
PawBone_Right_003
ClawBone_Right
ClawBone_RightC_001
ClawBone_RightC_002
ClawBone_RightC_003
ClawBone_RightR_001
ClawBone_RightR_002
ClawBone_RightR_003
ClawBone_RightL_001
ClawBone_RightL_002
ClawBone_RightL_003
ClawBone_RightB_001
ClawBone_RightB_002
ClawBone_RightB_003
Leg_R
Knees_R
PawBone_Left_003
ClawBone_Left
ClawBone_LeftC_001
ClawBone_LeftC_002
ClawBone_LeftC_003
ClawBone_LeftR_001
ClawBone_LeftR_002
ClawBone_LeftR_003
ClawBone_LeftL_001
ClawBone_LeftL_002
ClawBone_LeftL_003
ClawBone_LeftB_001
ClawBone_LeftB_002
ClawBone_LeftB_003
FRONT
Neck01
Neck02
Head
BeakDown
BeakUp
