[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
Hip
Left_Thigh
Left_Knee
Left_Ankle
Left_ToeBase
Left_SetD_Bone_01
Left_SetD_Bone_02
Left_SetD_Bone_03
Left_SetC_Bone_01
Left_SetC_Bone_02
Left_SetC_Bone_03
Left_SetB_Bone_01
Left_SetB_Bone_02
Left_SetB_Bone_03
Left_SetA_Bone_01
Left_SetA_Bone_02
Left_SetA_Bone_03
Left_AnkleRoll_01
Left_AnkleRoll_02
Left_AnkleRoll_03
Left_LegRoll_01
Left_LegRoll_01_Butt
Left_LegRoll_02
Left_LegRoll_02_Butt
Left_LegRoll_03
Left_LegRoll_03_Butt
Left_Knee_Butt
Left_UpLegRoll_01
Left_UpLegRoll_01_Butt
Left_UpLegRoll_02
Left_UpLegRoll_02_Butt
Left_UpLegRoll_03
Left_UpLegRoll_03_Butt
Left_Thigh_Butt
Tail_1
Tail_2
Tail_3
Tail_4
Tail_5
Tail_6
Tail_7
Tail_8
Tail_9
Tail_10
Tail_11
Tail_12
Tail_13
Tail_14
Tail_15
Tail_16
Tail_17
Spine_1
Spine_2
Spine_3
Spine_4
Spine_5
Spine_6
Spine_7
Spine_8
chest_01
chest_02
neck_01
neck_02
head
face_Head_JNT
brow_MID_JNT
cheek01_l_JNT
cheek01_r_JNT
eyeBall_l_JNT
eyeBall_r_JNT
eyelid01_Cr_l_JNT
eyelid01_Cr_r_JNT
eyelid02_Cr_l_JNT
eyelid02_Cr_r_JNT
eyelid_dwn_01_l_JNT
eyelid_dwn_01_r_JNT
eyelid_dwn_02_l_JNT
eyelid_dwn_02_r_JNT
eyelid_dwn_03_l_JNT
eyelid_dwn_03_r_JNT
eyelid_up_01_l_JNT
eyelid_up_01_r_JNT
eyelid_up_02_l_JNT
eyelid_up_02_r_JNT
eyelid_up_03_l_JNT
eyelid_up_03_r_JNT
lipCnr_l_JNT
lipCnr_r_JNT
lipOut_l_JNT
lipOut_r_JNT
lipUp_01_l_JNT
lipUp_01_r_JNT
lipUp_02_l_JNT
lipUp_02_r_JNT
lipUp_03_l_JNT
lipUp_03_r_JNT
nasi01_l_JNT
nasi01_r_JNT
nasi02_l_JNT
nasi02_r_JNT
nasi03_l_JNT
nasi03_r_JNT
nasi_MID_JNT
nose_JNT
sneerBtm_MID_JNT
sneerTop_MID_JNT
sneer_l_JNT
sneer_r_JNT
upTeeth_JNT
jaw_JNT
ear_01_l_JNT
ear_03_l_JNT
ear_05_l_JNT
ear_01_r_JNT
ear_03_r_JNT
ear_05_r_JNT
earBase_a_l_JNT
earBase_b_l_JNT
earBase_c_l_JNT
earBase_a_r_JNT
earBase_b_r_JNT
earBase_c_r_JNT
whiskerMain_01_l_bn
whiskerMain_02_l_bn
whiskerMain_03_l_bn
whiskerMain_01_r_bn
whiskerMain_02_r_bn
whiskerMain_03_r_bn
tongue_FK_01_JNT
tongue_FK_02_JNT
tongue_FK_03_JNT
tongue_FK_04_JNT
tongue_l_04_JNT
tongue_r_04_JNT
tongue_l_03_JNT
tongue_r_03_JNT
tongue_l_02_JNT
tongue_r_02_JNT
snapObj_JNT
neck_btm_tweak
neck_top_tweak
neck_tweak_l
neck_tweak_r
clavicle_l
shoulder_l
elbow_l
wrist_l
hand_l
fingerbase_l
armEnd_l
index_l_01
index_l_02
index_l_claw
middle_l_01
middle_l_02
middle_l_claw
ring_l_01
ring_l_02
ring_l_claw
pinkie_l_01
pinkie_l_02
pinkie_l_claw
thumb_l_01
thumb_l_claw
elbowTwist01_l
elbowTwist02_l
elbowTwist03_l
shoulderTwist_l
clavicle_r
shoulder_r
elbow_r
wrist_r
hand_r
fingerbase_r
armEnd_r
index_r_01
index_r_02
index_r_claw
middle_r_01
middle_r_02
middle_r_claw
ring_r_01
ring_r_02
ring_r_claw
pinkie_r_01
pinkie_r_02
pinkie_r_claw
thumb_r_01
thumb_r_claw
elbowTwist01_r
elbowTwist02_r
elbowTwist03_r
shoulderTwist_r
clavicle_tweak_l
clavicle_tweak_r
neck_btm_tweak2
neck_btm_tweak3
chest_btm_tweak
chest_btm_tweak2
chest_btm_tweak3
Spine_Right_6
Spine_Btm_6
Spine_Left_6
Spine_Left_5
Spine_Right_5
Spine_Btm_5
Spine_Left_4
Spine_Right_4
Spine_Btm_4
Spine_Left_3
Spine_Right_3
Spine_Btm_3
Spine_Left_2
Spine_Right_2
Spine_Btm_2
Right_Thigh
Right_Knee
Right_Ankle
Right_ToeBase
Right_SetD_Bone_01
Right_SetD_Bone_02
Right_SetD_Bone_03
Right_SetC_Bone_01
Right_SetC_Bone_02
Right_SetC_Bone_03
Right_SetB_Bone_01
Right_SetB_Bone_02
Right_SetB_Bone_03
Right_SetA_Bone_01
Right_SetA_Bone_02
Right_SetA_Bone_03
Right_AnkleRoll_01
Right_AnkleRoll_02
Right_AnkleRoll_03
Right_LegRoll_01
Right_LegRoll_01_Butt
Right_LegRoll_02
Right_LegRoll_02_Butt
Right_LegRoll_03
Right_LegRoll_03_Butt
Right_Knee_Butt
Right_UpLegRoll_01
Right_UpLegRoll_01_Butt
Right_UpLegRoll_02
Right_UpLegRoll_02_Butt
Right_UpLegRoll_03
Right_UpLegRoll_03_Butt
Right_Thigh_Butt
Hip_Btm

[RemoveTracks]
CAT_ReferencePose.1=all
CAT_ReferencePose.2=all
CAT_ReferencePose.3=all
CAT_ReferencePose.4=all
CAT_ReferencePose.5=all
CAT_ReferencePose.6=all
CAT_ReferencePose.7=all
CAT_ReferencePose.8=all
CAT_ReferencePose.9=all
CAT_ReferencePose.10=all
CAT_ReferencePose.11=all
CAT_ReferencePose.12=all
CAT_ReferencePose.13=all
CAT_ReferencePose.14=all
CAT_ReferencePose.15=all
CAT_ReferencePose.16=all
CAT_ReferencePose.17=all
CAT_ReferencePose.18=all
CAT_ReferencePose.19=all
CAT_ReferencePose.20=all
CAT_ReferencePose.21=all
CAT_ReferencePose.22=all
CAT_ReferencePose.23=all
CAT_ReferencePose.24=all
CAT_ReferencePose.25=all
CAT_ReferencePose.26=all
CAT_ReferencePose.27=all
CAT_ReferencePose.28=all
CAT_ReferencePose.29=all
CAT_ReferencePose.30=all
CAT_ReferencePose.31=all
CAT_ReferencePose.32=all
CAT_ReferencePose.33=all
CAT_ReferencePose.34=all
CAT_ReferencePose.35=all
CAT_ReferencePose.36=all
CAT_ReferencePose.37=all
CAT_ReferencePose.38=all
CAT_ReferencePose.39=all
CAT_ReferencePose.40=all
CAT_ReferencePose.41=all
CAT_ReferencePose.42=all
CAT_ReferencePose.43=all
CAT_ReferencePose.44=all
CAT_ReferencePose.45=all
CAT_ReferencePose.46=all
CAT_ReferencePose.47=all
CAT_ReferencePose.48=all
CAT_ReferencePose.49=all
CAT_ReferencePose.50=all
CAT_ReferencePose.51=all
CAT_ReferencePose.52=all
CAT_ReferencePose.53=all
CAT_ReferencePose.54=all
CAT_ReferencePose.55=all
CAT_ReferencePose.56=all
CAT_ReferencePose.57=all
CAT_ReferencePose.58=all
CAT_ReferencePose.59=all
CAT_ReferencePose.60=all
CAT_ReferencePose.61=all
CAT_ReferencePose.62=all
CAT_ReferencePose.63=all
CAT_ReferencePose.64=all
CAT_ReferencePose.65=all
CAT_ReferencePose.66=all
CAT_ReferencePose.67=all
CAT_ReferencePose.68=all
CAT_ReferencePose.69=all
CAT_ReferencePose.70=all
CAT_ReferencePose.71=all
CAT_ReferencePose.72=all
CAT_ReferencePose.73=all
CAT_ReferencePose.74=all
CAT_ReferencePose.75=all
CAT_ReferencePose.76=all
CAT_ReferencePose.77=all
CAT_ReferencePose.78=all
CAT_ReferencePose.79=all
CAT_ReferencePose.80=all
CAT_ReferencePose.81=all
CAT_ReferencePose.82=all
CAT_ReferencePose.83=all
CAT_ReferencePose.84=all
CAT_ReferencePose.85=all
CAT_ReferencePose.86=all
CAT_ReferencePose.87=all
CAT_ReferencePose.88=all
CAT_ReferencePose.89=all
CAT_ReferencePose.90=all
CAT_ReferencePose.91=all
CAT_ReferencePose.92=all
CAT_ReferencePose.93=all
CAT_ReferencePose.94=all
CAT_ReferencePose.95=all
CAT_ReferencePose.96=all
CAT_ReferencePose.97=all
CAT_ReferencePose.98=all
CAT_ReferencePose.99=all
CAT_ReferencePose.100=all
CAT_ReferencePose.101=all
CAT_ReferencePose.102=all
CAT_ReferencePose.103=all
CAT_ReferencePose.104=all
CAT_ReferencePose.105=all
CAT_ReferencePose.106=all
CAT_ReferencePose.107=all
CAT_ReferencePose.108=all
CAT_ReferencePose.109=all
CAT_ReferencePose.110=all
CAT_ReferencePose.111=all
CAT_ReferencePose.112=all
CAT_ReferencePose.113=all
CAT_ReferencePose.114=all
CAT_ReferencePose.115=all
CAT_ReferencePose.116=all
CAT_ReferencePose.117=all
CAT_ReferencePose.118=all
CAT_ReferencePose.119=all
CAT_ReferencePose.120=all
CAT_ReferencePose.121=all
CAT_ReferencePose.122=all
CAT_ReferencePose.123=all
CAT_ReferencePose.124=all
CAT_ReferencePose.125=all
CAT_ReferencePose.126=all
CAT_ReferencePose.127=all
CAT_ReferencePose.128=all
CAT_ReferencePose.129=all
CAT_ReferencePose.130=all
CAT_ReferencePose.131=all
CAT_ReferencePose.132=all
CAT_ReferencePose.133=all
CAT_ReferencePose.134=all
CAT_ReferencePose.135=all
CAT_ReferencePose.136=all
CAT_ReferencePose.137=all
CAT_ReferencePose.138=all
CAT_ReferencePose.139=all
CAT_ReferencePose.140=all
CAT_ReferencePose.141=all
CAT_ReferencePose.142=all
CAT_ReferencePose.143=all
CAT_ReferencePose.144=all
CAT_ReferencePose.145=all
CAT_ReferencePose.146=all
CAT_ReferencePose.147=all
CAT_ReferencePose.148=all
CAT_ReferencePose.149=all
CAT_ReferencePose.150=all
CAT_ReferencePose.151=all
CAT_ReferencePose.152=all
CAT_ReferencePose.153=all
CAT_ReferencePose.154=all
CAT_ReferencePose.155=all
CAT_ReferencePose.156=all
CAT_ReferencePose.157=all
CAT_ReferencePose.158=all
CAT_ReferencePose.159=all
CAT_ReferencePose.160=all
CAT_ReferencePose.161=all
CAT_ReferencePose.162=all
CAT_ReferencePose.163=all
CAT_ReferencePose.164=all
CAT_ReferencePose.165=all
CAT_ReferencePose.166=all
CAT_ReferencePose.167=all
CAT_ReferencePose.168=all
CAT_ReferencePose.169=all
CAT_ReferencePose.170=all
CAT_ReferencePose.171=all
CAT_ReferencePose.172=all
CAT_ReferencePose.173=all
CAT_ReferencePose.174=all
CAT_ReferencePose.175=all
CAT_ReferencePose.176=all
CAT_ReferencePose.177=all
CAT_ReferencePose.178=all
CAT_ReferencePose.179=all
CAT_ReferencePose.180=all
CAT_ReferencePose.181=all
CAT_ReferencePose.182=all
CAT_ReferencePose.183=all
CAT_ReferencePose.184=all
CAT_ReferencePose.185=all
CAT_ReferencePose.186=all
CAT_ReferencePose.187=all
CAT_ReferencePose.188=all
CAT_ReferencePose.189=all
CAT_ReferencePose.190=all
CAT_ReferencePose.191=all
CAT_ReferencePose.192=all
CAT_ReferencePose.193=all
CAT_ReferencePose.194=all
CAT_ReferencePose.195=all
CAT_ReferencePose.196=all
CAT_ReferencePose.197=all
CAT_ReferencePose.198=all
CAT_ReferencePose.199=all
CAT_ReferencePose.200=all
CAT_ReferencePose.201=all
CAT_ReferencePose.202=all
CAT_ReferencePose.203=all
CAT_ReferencePose.204=all
CAT_ReferencePose.205=all
CAT_ReferencePose.206=all
CAT_ReferencePose.207=all
CAT_ReferencePose.208=all
CAT_ReferencePose.209=all
CAT_ReferencePose.210=all
CAT_ReferencePose.211=all
CAT_ReferencePose.212=all
CAT_ReferencePose.213=all
CAT_ReferencePose.214=all
CAT_ReferencePose.215=all
CAT_ReferencePose.216=all
CAT_ReferencePose.217=all
CAT_ReferencePose.218=all
CAT_ReferencePose.219=all
CAT_ReferencePose.220=all
CAT_ReferencePose.221=all
CAT_ReferencePose.222=all
CAT_ReferencePose.223=all
CAT_ReferencePose.224=all
CAT_ReferencePose.225=all
CAT_ReferencePose.226=all
CAT_ReferencePose.227=all
CAT_ReferencePose.228=all
CAT_ReferencePose.229=all
CAT_ReferencePose.230=all
CAT_ReferencePose.231=all
CAT_ReferencePose.232=all
CAT_ReferencePose.233=all
CAT_ReferencePose.234=all
CAT_ReferencePose.235=all
CAT_ReferencePose.236=all
CAT_ReferencePose.237=all
CAT_ReferencePose.238=all
CAT_ReferencePose.239=all
CAT_ReferencePose.240=all
CAT_ReferencePose.241=all
CAT_ReferencePose.242=all
CAT_ReferencePose.243=all
CAT_ReferencePose.244=all
CAT_ReferencePose.245=all
CAT_ReferencePose.246=all
CAT_ReferencePose.247=all
CAT_ReferencePose.248=all
CAT_ReferencePose.249=all
