[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
Hip
Left_Thigh
Left_Knee
Left_Ankle
Left_ToeBase
Left_SetD_Bone_01
Left_SetD_Bone_02
Left_SetD_Bone_03
Left_SetC_Bone_01
Left_SetC_Bone_02
Left_SetC_Bone_03
Left_SetB_Bone_01
Left_SetB_Bone_02
Left_SetB_Bone_03
Left_SetA_Bone_01
Left_SetA_Bone_02
Left_SetA_Bone_03
Left_AnkleRoll_01
Left_AnkleRoll_02
Left_AnkleRoll_03
Left_LegRoll_01
Left_LegRoll_01_Butt
Left_LegRoll_02
Left_LegRoll_02_Butt
Left_LegRoll_03
Left_LegRoll_03_Butt
Left_Knee_Butt
Left_UpLegRoll_01
Left_UpLegRoll_01_Butt
Left_UpLegRoll_02
Left_UpLegRoll_02_Butt
Left_UpLegRoll_03
Left_UpLegRoll_03_Butt
Left_Thigh_Butt
Tail_1
Tail_2
Tail_3
Tail_4
Tail_5
Tail_6
Tail_7
Tail_8
Tail_9
Tail_10
Tail_11
Tail_12
Tail_13
Tail_14
Tail_15
Tail_16
Tail_17
Spine_1
Spine_2
Spine_3
Spine_4
Spine_5
Spine_6
Spine_7
Spine_8
chest_01
chest_02
neck_01
neck_02
head
face_Head_JNT
brow_MID_JNT
cheek01_l_JNT
cheek01_r_JNT
eyeBall_l_JNT
eyeBall_r_JNT
eyelid01_Cr_l_JNT
eyelid01_Cr_r_JNT
eyelid02_Cr_l_JNT
eyelid02_Cr_r_JNT
eyelid_dwn_01_l_JNT
eyelid_dwn_01_r_JNT
eyelid_dwn_02_l_JNT
eyelid_dwn_02_r_JNT
eyelid_dwn_03_l_JNT
eyelid_dwn_03_r_JNT
eyelid_up_01_l_JNT
eyelid_up_01_r_JNT
eyelid_up_02_l_JNT
eyelid_up_02_r_JNT
eyelid_up_03_l_JNT
eyelid_up_03_r_JNT
lipCnr_l_JNT
lipCnr_r_JNT
lipOut_l_JNT
lipOut_r_JNT
lipUp_01_l_JNT
lipUp_01_r_JNT
lipUp_02_l_JNT
lipUp_02_r_JNT
lipUp_03_l_JNT
lipUp_03_r_JNT
nasi01_l_JNT
nasi01_r_JNT
nasi02_l_JNT
nasi02_r_JNT
nasi03_l_JNT
nasi03_r_JNT
nasi_MID_JNT
nose_JNT
sneerBtm_MID_JNT
sneerTop_MID_JNT
sneer_l_JNT
sneer_r_JNT
upTeeth_JNT
jaw_JNT
ear_01_l_JNT
ear_03_l_JNT
ear_05_l_JNT
ear_01_r_JNT
ear_03_r_JNT
ear_05_r_JNT
earBase_a_l_JNT
earBase_b_l_JNT
earBase_c_l_JNT
earBase_a_r_JNT
earBase_b_r_JNT
earBase_c_r_JNT
whiskerMain_01_l_bn
whiskerMain_02_l_bn
whiskerMain_03_l_bn
whiskerMain_01_r_bn
whiskerMain_02_r_bn
whiskerMain_03_r_bn
tongue_FK_01_JNT
tongue_FK_02_JNT
tongue_FK_03_JNT
tongue_FK_04_JNT
tongue_l_04_JNT
tongue_r_04_JNT
tongue_l_03_JNT
tongue_r_03_JNT
tongue_l_02_JNT
tongue_r_02_JNT
snapObj_JNT
neck_btm_tweak
neck_top_tweak
neck_tweak_l
neck_tweak_r
clavicle_l
shoulder_l
elbow_l
wrist_l
hand_l
fingerbase_l
armEnd_l
index_l_01
index_l_02
index_l_claw
middle_l_01
middle_l_02
middle_l_claw
ring_l_01
ring_l_02
ring_l_claw
pinkie_l_01
pinkie_l_02
pinkie_l_claw
thumb_l_01
thumb_l_claw
elbowTwist01_l
elbowTwist02_l
elbowTwist03_l
shoulderTwist_l
clavicle_r
shoulder_r
elbow_r
wrist_r
hand_r
fingerbase_r
armEnd_r
index_r_01
index_r_02
index_r_claw
middle_r_01
middle_r_02
middle_r_claw
ring_r_01
ring_r_02
ring_r_claw
pinkie_r_01
pinkie_r_02
pinkie_r_claw
thumb_r_01
thumb_r_claw
elbowTwist01_r
elbowTwist02_r
elbowTwist03_r
shoulderTwist_r
clavicle_tweak_l
clavicle_tweak_r
neck_btm_tweak2
neck_btm_tweak3
chest_btm_tweak
chest_btm_tweak2
chest_btm_tweak3
Spine_Right_6
Spine_Btm_6
Spine_Left_6
Spine_Left_5
Spine_Right_5
Spine_Btm_5
Spine_Left_4
Spine_Right_4
Spine_Btm_4
Spine_Left_3
Spine_Right_3
Spine_Btm_3
Spine_Left_2
Spine_Right_2
Spine_Btm_2
Right_Thigh
Right_Knee
Right_Ankle
Right_ToeBase
Right_SetD_Bone_01
Right_SetD_Bone_02
Right_SetD_Bone_03
Right_SetC_Bone_01
Right_SetC_Bone_02
Right_SetC_Bone_03
Right_SetB_Bone_01
Right_SetB_Bone_02
Right_SetB_Bone_03
Right_SetA_Bone_01
Right_SetA_Bone_02
Right_SetA_Bone_03
Right_AnkleRoll_01
Right_AnkleRoll_02
Right_AnkleRoll_03
Right_LegRoll_01
Right_LegRoll_01_Butt
Right_LegRoll_02
Right_LegRoll_02_Butt
Right_LegRoll_03
Right_LegRoll_03_Butt
Right_Knee_Butt
Right_UpLegRoll_01
Right_UpLegRoll_01_Butt
Right_UpLegRoll_02
Right_UpLegRoll_02_Butt
Right_UpLegRoll_03
Right_UpLegRoll_03_Butt
Right_Thigh_Butt
Hip_Btm

[RemoveTracks]
CAT_ShapeCorrection.1=all
CAT_ShapeCorrection.2=all
CAT_ShapeCorrection.3=all
CAT_ShapeCorrection.4=all
CAT_ShapeCorrection.5=all
CAT_ShapeCorrection.6=all
CAT_ShapeCorrection.7=all
CAT_ShapeCorrection.8=all
CAT_ShapeCorrection.9=all
CAT_ShapeCorrection.10=all
CAT_ShapeCorrection.11=all
CAT_ShapeCorrection.12=all
CAT_ShapeCorrection.13=all
CAT_ShapeCorrection.14=all
CAT_ShapeCorrection.15=all
CAT_ShapeCorrection.16=all
CAT_ShapeCorrection.17=all
CAT_ShapeCorrection.18=all
CAT_ShapeCorrection.19=all
CAT_ShapeCorrection.20=all
CAT_ShapeCorrection.21=all
CAT_ShapeCorrection.22=all
CAT_ShapeCorrection.23=all
CAT_ShapeCorrection.24=all
CAT_ShapeCorrection.25=all
CAT_ShapeCorrection.26=all
CAT_ShapeCorrection.27=all
CAT_ShapeCorrection.28=all
CAT_ShapeCorrection.29=all
CAT_ShapeCorrection.30=all
CAT_ShapeCorrection.31=all
CAT_ShapeCorrection.32=all
CAT_ShapeCorrection.33=all
CAT_ShapeCorrection.34=all
CAT_ShapeCorrection.35=all
CAT_ShapeCorrection.36=all
CAT_ShapeCorrection.37=all
CAT_ShapeCorrection.38=all
CAT_ShapeCorrection.39=all
CAT_ShapeCorrection.40=all
CAT_ShapeCorrection.41=all
CAT_ShapeCorrection.42=all
CAT_ShapeCorrection.43=all
CAT_ShapeCorrection.44=all
CAT_ShapeCorrection.45=all
CAT_ShapeCorrection.46=all
CAT_ShapeCorrection.47=all
CAT_ShapeCorrection.48=all
CAT_ShapeCorrection.49=all
CAT_ShapeCorrection.50=all
CAT_ShapeCorrection.51=all
CAT_ShapeCorrection.52=all
CAT_ShapeCorrection.53=all
CAT_ShapeCorrection.54=all
CAT_ShapeCorrection.55=all
CAT_ShapeCorrection.56=all
CAT_ShapeCorrection.57=all
CAT_ShapeCorrection.58=all
CAT_ShapeCorrection.59=all
CAT_ShapeCorrection.60=all
CAT_ShapeCorrection.61=all
CAT_ShapeCorrection.65=all
CAT_ShapeCorrection.66=all
CAT_ShapeCorrection.67=all
CAT_ShapeCorrection.68=all
CAT_ShapeCorrection.71=all
CAT_ShapeCorrection.72=all
CAT_ShapeCorrection.73=all
CAT_ShapeCorrection.74=all
CAT_ShapeCorrection.75=all
CAT_ShapeCorrection.76=all
CAT_ShapeCorrection.77=all
CAT_ShapeCorrection.78=all
CAT_ShapeCorrection.79=all
CAT_ShapeCorrection.80=all
CAT_ShapeCorrection.81=all
CAT_ShapeCorrection.82=all
CAT_ShapeCorrection.83=all
CAT_ShapeCorrection.84=all
CAT_ShapeCorrection.85=all
CAT_ShapeCorrection.86=all
CAT_ShapeCorrection.87=all
CAT_ShapeCorrection.88=all
CAT_ShapeCorrection.89=all
CAT_ShapeCorrection.90=all
CAT_ShapeCorrection.91=all
CAT_ShapeCorrection.92=all
CAT_ShapeCorrection.93=all
CAT_ShapeCorrection.94=all
CAT_ShapeCorrection.95=all
CAT_ShapeCorrection.96=all
CAT_ShapeCorrection.97=all
CAT_ShapeCorrection.98=all
CAT_ShapeCorrection.99=all
CAT_ShapeCorrection.100=all
CAT_ShapeCorrection.101=all
CAT_ShapeCorrection.102=all
CAT_ShapeCorrection.103=all
CAT_ShapeCorrection.104=all
CAT_ShapeCorrection.105=all
CAT_ShapeCorrection.106=all
CAT_ShapeCorrection.107=all
CAT_ShapeCorrection.108=all
CAT_ShapeCorrection.109=all
CAT_ShapeCorrection.110=all
CAT_ShapeCorrection.111=all
CAT_ShapeCorrection.112=all
CAT_ShapeCorrection.113=all
CAT_ShapeCorrection.114=all
CAT_ShapeCorrection.115=all
CAT_ShapeCorrection.116=all
CAT_ShapeCorrection.117=all
CAT_ShapeCorrection.118=all
CAT_ShapeCorrection.119=all
CAT_ShapeCorrection.120=all
CAT_ShapeCorrection.121=all
CAT_ShapeCorrection.122=all
CAT_ShapeCorrection.123=all
CAT_ShapeCorrection.124=all
CAT_ShapeCorrection.125=all
CAT_ShapeCorrection.126=all
CAT_ShapeCorrection.127=all
CAT_ShapeCorrection.128=all
CAT_ShapeCorrection.129=all
CAT_ShapeCorrection.130=all
CAT_ShapeCorrection.131=all
CAT_ShapeCorrection.132=all
CAT_ShapeCorrection.133=all
CAT_ShapeCorrection.134=all
CAT_ShapeCorrection.135=all
CAT_ShapeCorrection.136=all
CAT_ShapeCorrection.137=all
CAT_ShapeCorrection.138=all
CAT_ShapeCorrection.139=all
CAT_ShapeCorrection.140=all
CAT_ShapeCorrection.141=all
CAT_ShapeCorrection.142=all
CAT_ShapeCorrection.143=all
CAT_ShapeCorrection.144=all
CAT_ShapeCorrection.145=all
CAT_ShapeCorrection.146=all
CAT_ShapeCorrection.147=all
CAT_ShapeCorrection.148=all
CAT_ShapeCorrection.149=all
CAT_ShapeCorrection.150=all
CAT_ShapeCorrection.151=all
CAT_ShapeCorrection.152=all
CAT_ShapeCorrection.153=all
CAT_ShapeCorrection.154=all
CAT_ShapeCorrection.155=all
CAT_ShapeCorrection.156=all
CAT_ShapeCorrection.157=all
CAT_ShapeCorrection.158=all
CAT_ShapeCorrection.159=all
CAT_ShapeCorrection.160=all
CAT_ShapeCorrection.161=all
CAT_ShapeCorrection.162=all
CAT_ShapeCorrection.163=all
CAT_ShapeCorrection.164=all
CAT_ShapeCorrection.165=all
CAT_ShapeCorrection.166=all
CAT_ShapeCorrection.167=all
CAT_ShapeCorrection.168=all
CAT_ShapeCorrection.169=all
CAT_ShapeCorrection.170=all
CAT_ShapeCorrection.171=all
CAT_ShapeCorrection.172=all
CAT_ShapeCorrection.173=all
CAT_ShapeCorrection.174=all
CAT_ShapeCorrection.175=all
CAT_ShapeCorrection.176=all
CAT_ShapeCorrection.177=all
CAT_ShapeCorrection.178=all
CAT_ShapeCorrection.179=all
CAT_ShapeCorrection.180=all
CAT_ShapeCorrection.181=all
CAT_ShapeCorrection.182=all
CAT_ShapeCorrection.183=all
CAT_ShapeCorrection.184=all
CAT_ShapeCorrection.185=all
CAT_ShapeCorrection.186=all
CAT_ShapeCorrection.187=all
CAT_ShapeCorrection.188=all
CAT_ShapeCorrection.189=all
CAT_ShapeCorrection.190=all
CAT_ShapeCorrection.191=all
CAT_ShapeCorrection.192=all
CAT_ShapeCorrection.193=all
CAT_ShapeCorrection.194=all
CAT_ShapeCorrection.195=all
CAT_ShapeCorrection.196=all
CAT_ShapeCorrection.197=all
CAT_ShapeCorrection.198=all
CAT_ShapeCorrection.199=all
CAT_ShapeCorrection.200=all
CAT_ShapeCorrection.201=all
CAT_ShapeCorrection.202=all
CAT_ShapeCorrection.203=all
CAT_ShapeCorrection.204=all
CAT_ShapeCorrection.205=all
CAT_ShapeCorrection.206=all
CAT_ShapeCorrection.207=all
CAT_ShapeCorrection.208=all
CAT_ShapeCorrection.209=all
CAT_ShapeCorrection.210=all
CAT_ShapeCorrection.211=all
CAT_ShapeCorrection.212=all
CAT_ShapeCorrection.213=all
CAT_ShapeCorrection.214=all
CAT_ShapeCorrection.215=all
CAT_ShapeCorrection.216=all
CAT_ShapeCorrection.217=all
CAT_ShapeCorrection.218=all
CAT_ShapeCorrection.219=all
CAT_ShapeCorrection.220=all
CAT_ShapeCorrection.221=all
CAT_ShapeCorrection.222=all
CAT_ShapeCorrection.223=all
CAT_ShapeCorrection.224=all
CAT_ShapeCorrection.225=all
CAT_ShapeCorrection.226=all
CAT_ShapeCorrection.227=all
CAT_ShapeCorrection.228=all
CAT_ShapeCorrection.229=all
CAT_ShapeCorrection.230=all
CAT_ShapeCorrection.231=all
CAT_ShapeCorrection.232=all
CAT_ShapeCorrection.233=all
CAT_ShapeCorrection.234=all
CAT_ShapeCorrection.235=all
CAT_ShapeCorrection.236=all
CAT_ShapeCorrection.237=all
CAT_ShapeCorrection.238=all
CAT_ShapeCorrection.239=all
CAT_ShapeCorrection.240=all
CAT_ShapeCorrection.241=all
CAT_ShapeCorrection.242=all
CAT_ShapeCorrection.243=all
CAT_ShapeCorrection.244=all
CAT_ShapeCorrection.245=all
CAT_ShapeCorrection.246=all
CAT_ShapeCorrection.247=all
CAT_ShapeCorrection.248=all
CAT_ShapeCorrection.249=all
