[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
ROOT
Wing_Up_L
Wing_Up_L02
Wing_Up_R
Wing_Up_R02
Wing_Down_L
Wing_Down_L02
Wing_Down_R
Wing_Down_R02
EYE
Eye02
Antenna_Base
Antenna_Middle
Antenna_End
Antenna_Ens02

[RemoveTracks]
SENTINEL_MOVEDOWN_NEUTRAL.10=all
SENTINEL_MOVEDOWN_NEUTRAL.14=all
