[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Root
Hips
Spine03
Spine02
Spine04
Spine01
Neck
Bone020
Bone021
Bone022
Bone020(mirrored)
Bone021(mirrored)
Bone022(mirrored)
Head
Bone018
Bone018(mirrored)
Bone019
Bone024
Bone025
Bone026
Bone024(mirrored)
Bone025(mirrored)
Bone026(mirrored)
Tail00
Tail02
Tail03
Tail04
Tail05
Tail07
Tail06
Tail01
Bone027
Bone027(mirrored)
