[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Root
Center
Wing_Up_L
Wing_Up_L02
Wing_Up_R
Wing_Up_R02
Wing_Down_L
Wing_Down_L02
Wing_Down_R
Wing_Down_R02
EYE
Eye02
Antenna_Base
Antenna_Middle
Antenna_End
Antenna_Ens02
Wires_01
Wires_01_01
Wires_01_02
Wires_01_03
Wires_01_04
Wires_01_05
Wires_02
Wires_02_01
Wires_02_02
Wires_02_03
Wires_02_04
Wires_02_05
Wires_03
Wires_03_01
Wires_03_02
Wires_03_03
Wires_03_04
Wires_03_05
CenterBase
