[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Root
Move
attach
Thorax
Head
RightAntenna_1
RightAntenna_2
RightAntenna_3
LeftAntenna_1
LeftAntenna_2
LeftAntenna_3
LeftTopWing_1
LeftTopWing_2
LeftBottomWing_1
LeftBottomWing_2
FrontLeftLeg_1
FrontLeftLeg_2
FrontLeftLeg_3
FrontLeftLeg_4
MiddleLeftLeg_1
MiddleLeftLeg_2
MiddleLeftLeg_3
MiddleLeftLeg_4
BackLeftLeg_1
BackLeftLeg_2
BackLeftLeg_3
BackLeftLeg_4
Abdomen_1
Abdomen_2
RightTopWing_1
RightTopWing_2
RightBottomWing_1
RightBottomWing_2
FrontRightLeg_1
FrontRightLeg_2
FrontRightLeg_3
FrontRightLeg_4
MiddleRightLeg_1
MiddleRightLeg_2
MiddleRightLeg_3
MiddleRightLeg_4
BackRightLeg_1
BackRightLeg_2
BackRightLeg_3
BackRightLeg_4
