[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Root
Move
Truck_Door
Truck_Door_end
Truck_Wheel
Truck_Wheel_end
Truck_Enfant_SuspensionAvant
Suspention_Avant
Rou1
Rou_Enfant
Rou_Enfant_end
Truck_Enfant_SuspensionG
Suspention_G
Rou_ArG2
Rou_ArG_Enfant
Rou_ArG_Enfant_end
Truck_Enfant_SuspensionD
Suspention_D
Rou_ArD3
Rou_ArD_Enfant
Rou_ArD_Enfant_end
attach
attach_end
Truck_Door_end_end
Truck_Wheel_end_end
Rou_Enfant_end_end
Rou_ArG_Enfant_end_end
Rou_ArD_Enfant_end_end
attach_end_end

[RemoveTracks]
DROID_JAIL_ClementineEscape_EnterTruck_TRUCK.3=all
DROID_JAIL_ClementineEscape_EnterTruck_TRUCK.5=all
DROID_JAIL_ClementineEscape_EnterTruck_TRUCK.8=all
DROID_JAIL_ClementineEscape_EnterTruck_TRUCK.10=all
DROID_JAIL_ClementineEscape_EnterTruck_TRUCK.13=all
DROID_JAIL_ClementineEscape_EnterTruck_TRUCK.15=all
DROID_JAIL_ClementineEscape_EnterTruck_TRUCK.18=all
DROID_JAIL_ClementineEscape_EnterTruck_TRUCK.20=all
DROID_JAIL_ClementineEscape_EnterTruck_TRUCK.22=all
DROID_JAIL_ClementineEscape_EnterTruck_TRUCK.23=all
DROID_JAIL_ClementineEscape_EnterTruck_TRUCK.24=all
DROID_JAIL_ClementineEscape_EnterTruck_TRUCK.25=all
DROID_JAIL_ClementineEscape_EnterTruck_TRUCK.26=all
DROID_JAIL_ClementineEscape_EnterTruck_TRUCK.27=all
DROID_JAIL_ClementineEscape_EnterTruck_TRUCK.28=all
