[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Root
FENCE1
LeftSide_Jnts
LEFTside_Jnts1
LEFTside_Jnts2
LEFTside_Jnts3
LEFTside_Jnts4
LEFTside_Jnts5
LEFTside_Jnts6
LEFTside_Jnts7
LEFTside_Jnts8
LEFTside_Jnts9
LEFTside_Jnts10
LEFTside_Jnts11
LEFTside_Jnts12
LEFTside_Jnts13
LEFTside_Jnts14
LEFTside_Jnts15
LEFTside_Jnts16
LEFTside_Jnts17
LEFTside_Jnts18
LEFTside_Jnts19
LEFTside_Jnts20
LEFTside_Jnts21
LEFTside_Jnts22
LEFTside_Jnts23
LEFTside_Jnts24
LEFTside_Jnts25
LEFTside_Jnts26
LEFTside_Jnts27
LEFTside_Jnts28
LEFTside_Jnts29
LEFTside_Jnts30
Door02_Grp
Door02
FENCE2
RightSide_Jnts
RIGHTside_Jnts1
RIGHTside_Jnts2
RIGHTside_Jnts3
RIGHTside_Jnts4
RIGHTside_Jnts5
RIGHTside_Jnts6
RIGHTside_Jnts7
RIGHTside_Jnts8
RIGHTside_Jnts9
RIGHTside_Jnts10
RIGHTside_Jnts11
RIGHTside_Jnts12
RIGHTside_Jnts13
RIGHTside_Jnts14
RIGHTside_Jnts15
RIGHTside_Jnts16
RIGHTside_Jnts17
RIGHTside_Jnts18
RIGHTside_Jnts19
RIGHTside_Jnts20
RIGHTside_Jnts21
RIGHTside_Jnts22
RIGHTside_Jnts23
RIGHTside_Jnts24
RIGHTside_Jnts25
RIGHTside_Jnts26
RIGHTside_Jnts27
RIGHTside_Jnts28
RIGHTside_Jnts29
RIGHTside_Jnts30

[RemoveTracks]
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.1=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.2=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.3=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.4=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.5=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.6=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.7=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.8=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.9=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.10=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.11=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.12=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.13=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.14=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.15=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.16=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.17=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.18=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.19=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.20=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.21=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.22=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.23=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.24=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.25=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.26=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.27=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.28=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.29=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.30=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.31=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.32=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.33=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.35=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.36=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.37=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.38=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.39=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.40=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.41=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.42=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.43=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.44=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.45=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.46=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.47=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.48=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.49=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.50=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.51=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.52=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.53=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.54=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.55=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.56=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.57=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.58=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.59=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.60=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.61=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.62=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.63=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.64=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.65=all
DROID_MIDTOWN_BELTarrival_OutroDial_ClemCrouch_METRODOOR.66=all
