[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Root
FENCE1
LeftSide_Jnts
LEFTside_Jnts1
LEFTside_Jnts2
LEFTside_Jnts3
LEFTside_Jnts4
LEFTside_Jnts5
LEFTside_Jnts6
LEFTside_Jnts7
LEFTside_Jnts8
LEFTside_Jnts9
LEFTside_Jnts10
LEFTside_Jnts11
LEFTside_Jnts12
LEFTside_Jnts13
LEFTside_Jnts14
LEFTside_Jnts15
LEFTside_Jnts16
LEFTside_Jnts17
LEFTside_Jnts18
LEFTside_Jnts19
LEFTside_Jnts20
LEFTside_Jnts21
LEFTside_Jnts22
LEFTside_Jnts23
LEFTside_Jnts24
LEFTside_Jnts25
LEFTside_Jnts26
LEFTside_Jnts27
LEFTside_Jnts28
LEFTside_Jnts29
LEFTside_Jnts30
Door02_Grp
Door02
FENCE2
RightSide_Jnts
RIGHTside_Jnts1
RIGHTside_Jnts2
RIGHTside_Jnts3
RIGHTside_Jnts4
RIGHTside_Jnts5
RIGHTside_Jnts6
RIGHTside_Jnts7
RIGHTside_Jnts8
RIGHTside_Jnts9
RIGHTside_Jnts10
RIGHTside_Jnts11
RIGHTside_Jnts12
RIGHTside_Jnts13
RIGHTside_Jnts14
RIGHTside_Jnts15
RIGHTside_Jnts16
RIGHTside_Jnts17
RIGHTside_Jnts18
RIGHTside_Jnts19
RIGHTside_Jnts20
RIGHTside_Jnts21
RIGHTside_Jnts22
RIGHTside_Jnts23
RIGHTside_Jnts24
RIGHTside_Jnts25
RIGHTside_Jnts26
RIGHTside_Jnts27
RIGHTside_Jnts28
RIGHTside_Jnts29
RIGHTside_Jnts30
Scale02
Scale01

[RemoveTracks]
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.2=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.3=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.4=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.5=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.6=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.7=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.8=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.9=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.10=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.11=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.12=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.13=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.14=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.15=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.16=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.17=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.18=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.19=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.20=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.21=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.22=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.23=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.24=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.25=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.26=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.27=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.28=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.29=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.30=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.31=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.32=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.33=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.34=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.36=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.37=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.38=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.39=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.40=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.41=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.42=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.43=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.44=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.45=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.46=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.47=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.48=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.49=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.50=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.51=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.52=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.53=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.54=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.55=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.56=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.57=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.58=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.59=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.60=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.61=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.62=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.63=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.64=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.65=all
DROID_StandCloseIronShutter_Afraid_FENCEINTRO.66=all
