[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Zurg_Root
Zurg_Body
Zurg_Ass
Zurg_Head
Zurg_MouthUP
Zurg_MouthDown
Zurg_BR_Leg01
Zurg_BR_Leg02
Zurg_BR_Leg03
Zurg_BL_Leg01
Zurg_BL_Leg02
Zurg_BL_Leg03
Zurg_FR_Leg01
Zurg_FR_Leg02
Zurg_FR_Leg03
Zurg_FL_Leg01
Zurg_FL_Leg02
Zurg_FL_Leg03
Jiggle

[RemoveTracks]
Zurg_sleep_end.8=all
Zurg_sleep_end.11=all
Zurg_sleep_end.14=all
Zurg_sleep_end.17=all
