[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
Hip
Left_Thigh
Left_Knee
Left_Ankle
Left_ToeBase
Left_SetD_Bone_01
Left_SetD_Bone_02
Left_SetD_Bone_03
Left_SetC_Bone_01
Left_SetC_Bone_02
Left_SetC_Bone_03
Left_SetB_Bone_01
Left_SetB_Bone_02
Left_SetB_Bone_03
Left_SetA_Bone_01
Left_SetA_Bone_02
Left_SetA_Bone_03
Left_AnkleRoll_01
Left_AnkleRoll_02
Left_AnkleRoll_03
Left_LegRoll_01
Left_LegRoll_01_Butt
Left_LegRoll_02
Left_LegRoll_02_Butt
Left_LegRoll_03
Left_LegRoll_03_Butt
Left_Knee_Butt
Left_UpLegRoll_01
Left_UpLegRoll_01_Butt
Left_UpLegRoll_02
Left_UpLegRoll_02_Butt
Left_UpLegRoll_03
Left_UpLegRoll_03_Butt
Left_Thigh_Butt
Tail_1
Tail_2
Tail_3
Tail_4
Tail_5
Tail_6
Tail_7
Tail_8
Tail_9
Tail_10
Tail_11
Tail_12
Tail_13
Tail_14
Tail_15
Tail_16
Tail_17
Spine_1
Spine_2
Spine_3
Spine_4
Spine_5
Spine_6
Spine_7
Spine_8
chest_01
chest_02
neck_01
neck_02
head
face_Head_JNT
brow_MID_JNT
cheek01_l_JNT
cheek01_r_JNT
eyeBall_l_JNT
eyeBall_r_JNT
eyelid01_Cr_l_JNT
eyelid01_Cr_r_JNT
eyelid02_Cr_l_JNT
eyelid02_Cr_r_JNT
eyelid_dwn_01_l_JNT
eyelid_dwn_01_r_JNT
eyelid_dwn_02_l_JNT
eyelid_dwn_02_r_JNT
eyelid_dwn_03_l_JNT
eyelid_dwn_03_r_JNT
eyelid_up_01_l_JNT
eyelid_up_01_r_JNT
eyelid_up_02_l_JNT
eyelid_up_02_r_JNT
eyelid_up_03_l_JNT
eyelid_up_03_r_JNT
lipCnr_l_JNT
lipCnr_r_JNT
lipOut_l_JNT
lipOut_r_JNT
lipUp_01_l_JNT
lipUp_01_r_JNT
lipUp_02_l_JNT
lipUp_02_r_JNT
lipUp_03_l_JNT
lipUp_03_r_JNT
nasi01_l_JNT
nasi01_r_JNT
nasi02_l_JNT
nasi02_r_JNT
nasi03_l_JNT
nasi03_r_JNT
nasi_MID_JNT
nose_JNT
sneerBtm_MID_JNT
sneerTop_MID_JNT
sneer_l_JNT
sneer_r_JNT
upTeeth_JNT
jaw_JNT
ear_01_l_JNT
ear_03_l_JNT
ear_05_l_JNT
ear_01_r_JNT
ear_03_r_JNT
ear_05_r_JNT
earBase_a_l_JNT
earBase_b_l_JNT
earBase_c_l_JNT
earBase_a_r_JNT
earBase_b_r_JNT
earBase_c_r_JNT
whiskerMain_01_l_bn
whiskerMain_02_l_bn
whiskerMain_03_l_bn
whiskerMain_01_r_bn
whiskerMain_02_r_bn
whiskerMain_03_r_bn
tongue_FK_01_JNT
tongue_FK_02_JNT
tongue_FK_03_JNT
tongue_FK_04_JNT
tongue_l_04_JNT
tongue_r_04_JNT
tongue_l_03_JNT
tongue_r_03_JNT
tongue_l_02_JNT
tongue_r_02_JNT
snapObj_JNT
neck_btm_tweak
neck_top_tweak
neck_tweak_l
neck_tweak_r
clavicle_l
shoulder_l
elbow_l
wrist_l
hand_l
fingerbase_l
armEnd_l
index_l_01
index_l_02
index_l_claw
middle_l_01
middle_l_02
middle_l_claw
ring_l_01
ring_l_02
ring_l_claw
pinkie_l_01
pinkie_l_02
pinkie_l_claw
thumb_l_01
thumb_l_claw
elbowTwist01_l
elbowTwist02_l
elbowTwist03_l
shoulderTwist_l
clavicle_r
shoulder_r
elbow_r
wrist_r
hand_r
fingerbase_r
armEnd_r
index_r_01
index_r_02
index_r_claw
middle_r_01
middle_r_02
middle_r_claw
ring_r_01
ring_r_02
ring_r_claw
pinkie_r_01
pinkie_r_02
pinkie_r_claw
thumb_r_01
thumb_r_claw
elbowTwist01_r
elbowTwist02_r
elbowTwist03_r
shoulderTwist_r
clavicle_tweak_l
clavicle_tweak_r
neck_btm_tweak2
neck_btm_tweak3
chest_btm_tweak
chest_btm_tweak2
chest_btm_tweak3
Spine_Right_6
Spine_Btm_6
Spine_Left_6
Spine_Left_5
Spine_Right_5
Spine_Btm_5
Spine_Left_4
Spine_Right_4
Spine_Btm_4
Spine_Left_3
Spine_Right_3
Spine_Btm_3
Spine_Left_2
Spine_Right_2
Spine_Btm_2
Right_Thigh
Right_Knee
Right_Ankle
Right_ToeBase
Right_SetD_Bone_01
Right_SetD_Bone_02
Right_SetD_Bone_03
Right_SetC_Bone_01
Right_SetC_Bone_02
Right_SetC_Bone_03
Right_SetB_Bone_01
Right_SetB_Bone_02
Right_SetB_Bone_03
Right_SetA_Bone_01
Right_SetA_Bone_02
Right_SetA_Bone_03
Right_AnkleRoll_01
Right_AnkleRoll_02
Right_AnkleRoll_03
Right_LegRoll_01
Right_LegRoll_01_Butt
Right_LegRoll_02
Right_LegRoll_02_Butt
Right_LegRoll_03
Right_LegRoll_03_Butt
Right_Knee_Butt
Right_UpLegRoll_01
Right_UpLegRoll_01_Butt
Right_UpLegRoll_02
Right_UpLegRoll_02_Butt
Right_UpLegRoll_03
Right_UpLegRoll_03_Butt
Right_Thigh_Butt
Hip_Btm

[RemoveTracks]
CAT_StandBreathing_Idle.1=all
CAT_StandBreathing_Idle.2=all
CAT_StandBreathing_Idle.3=all
CAT_StandBreathing_Idle.4=all
CAT_StandBreathing_Idle.5=all
CAT_StandBreathing_Idle.6=all
CAT_StandBreathing_Idle.7=all
CAT_StandBreathing_Idle.8=all
CAT_StandBreathing_Idle.9=all
CAT_StandBreathing_Idle.10=all
CAT_StandBreathing_Idle.11=all
CAT_StandBreathing_Idle.12=all
CAT_StandBreathing_Idle.13=all
CAT_StandBreathing_Idle.14=all
CAT_StandBreathing_Idle.15=all
CAT_StandBreathing_Idle.16=all
CAT_StandBreathing_Idle.17=all
CAT_StandBreathing_Idle.18=all
CAT_StandBreathing_Idle.19=all
CAT_StandBreathing_Idle.20=all
CAT_StandBreathing_Idle.21=all
CAT_StandBreathing_Idle.22=all
CAT_StandBreathing_Idle.23=all
CAT_StandBreathing_Idle.24=all
CAT_StandBreathing_Idle.25=all
CAT_StandBreathing_Idle.26=all
CAT_StandBreathing_Idle.27=all
CAT_StandBreathing_Idle.28=all
CAT_StandBreathing_Idle.29=all
CAT_StandBreathing_Idle.30=all
CAT_StandBreathing_Idle.31=all
CAT_StandBreathing_Idle.32=all
CAT_StandBreathing_Idle.33=all
CAT_StandBreathing_Idle.34=all
CAT_StandBreathing_Idle.35=all
CAT_StandBreathing_Idle.51=all
CAT_StandBreathing_Idle.54=all
CAT_StandBreathing_Idle.55=all
CAT_StandBreathing_Idle.56=all
CAT_StandBreathing_Idle.57=all
CAT_StandBreathing_Idle.58=all
CAT_StandBreathing_Idle.59=all
CAT_StandBreathing_Idle.60=all
CAT_StandBreathing_Idle.61=all
CAT_StandBreathing_Idle.65=all
CAT_StandBreathing_Idle.66=all
CAT_StandBreathing_Idle.67=all
CAT_StandBreathing_Idle.68=all
CAT_StandBreathing_Idle.69=all
CAT_StandBreathing_Idle.70=all
CAT_StandBreathing_Idle.87=all
CAT_StandBreathing_Idle.88=all
CAT_StandBreathing_Idle.89=all
CAT_StandBreathing_Idle.90=all
CAT_StandBreathing_Idle.91=all
CAT_StandBreathing_Idle.92=all
CAT_StandBreathing_Idle.93=all
CAT_StandBreathing_Idle.94=all
CAT_StandBreathing_Idle.95=all
CAT_StandBreathing_Idle.96=all
CAT_StandBreathing_Idle.97=all
CAT_StandBreathing_Idle.98=all
CAT_StandBreathing_Idle.99=all
CAT_StandBreathing_Idle.100=all
CAT_StandBreathing_Idle.101=all
CAT_StandBreathing_Idle.102=all
CAT_StandBreathing_Idle.103=all
CAT_StandBreathing_Idle.104=all
CAT_StandBreathing_Idle.105=all
CAT_StandBreathing_Idle.106=all
CAT_StandBreathing_Idle.107=all
CAT_StandBreathing_Idle.108=all
CAT_StandBreathing_Idle.109=all
CAT_StandBreathing_Idle.110=all
CAT_StandBreathing_Idle.111=all
CAT_StandBreathing_Idle.112=all
CAT_StandBreathing_Idle.113=all
CAT_StandBreathing_Idle.114=all
CAT_StandBreathing_Idle.115=all
CAT_StandBreathing_Idle.116=all
CAT_StandBreathing_Idle.117=all
CAT_StandBreathing_Idle.118=all
CAT_StandBreathing_Idle.120=all
CAT_StandBreathing_Idle.121=all
CAT_StandBreathing_Idle.123=all
CAT_StandBreathing_Idle.124=all
CAT_StandBreathing_Idle.125=all
CAT_StandBreathing_Idle.126=all
CAT_StandBreathing_Idle.127=all
CAT_StandBreathing_Idle.128=all
CAT_StandBreathing_Idle.130=all
CAT_StandBreathing_Idle.131=all
CAT_StandBreathing_Idle.132=all
CAT_StandBreathing_Idle.133=all
CAT_StandBreathing_Idle.134=all
CAT_StandBreathing_Idle.135=all
CAT_StandBreathing_Idle.136=all
CAT_StandBreathing_Idle.137=all
CAT_StandBreathing_Idle.138=all
CAT_StandBreathing_Idle.139=all
CAT_StandBreathing_Idle.140=all
CAT_StandBreathing_Idle.141=all
CAT_StandBreathing_Idle.144=all
CAT_StandBreathing_Idle.145=all
CAT_StandBreathing_Idle.146=all
CAT_StandBreathing_Idle.147=all
CAT_StandBreathing_Idle.148=all
CAT_StandBreathing_Idle.149=all
CAT_StandBreathing_Idle.150=all
CAT_StandBreathing_Idle.151=all
CAT_StandBreathing_Idle.152=all
CAT_StandBreathing_Idle.154=all
CAT_StandBreathing_Idle.155=all
CAT_StandBreathing_Idle.156=all
CAT_StandBreathing_Idle.157=all
CAT_StandBreathing_Idle.158=all
CAT_StandBreathing_Idle.159=all
CAT_StandBreathing_Idle.160=all
CAT_StandBreathing_Idle.161=all
CAT_StandBreathing_Idle.162=all
CAT_StandBreathing_Idle.163=all
CAT_StandBreathing_Idle.164=all
CAT_StandBreathing_Idle.165=all
CAT_StandBreathing_Idle.166=all
CAT_StandBreathing_Idle.167=all
CAT_StandBreathing_Idle.168=all
CAT_StandBreathing_Idle.169=all
CAT_StandBreathing_Idle.170=all
CAT_StandBreathing_Idle.171=all
CAT_StandBreathing_Idle.172=all
CAT_StandBreathing_Idle.173=all
CAT_StandBreathing_Idle.174=all
CAT_StandBreathing_Idle.175=all
CAT_StandBreathing_Idle.176=all
CAT_StandBreathing_Idle.177=all
CAT_StandBreathing_Idle.179=all
CAT_StandBreathing_Idle.180=all
CAT_StandBreathing_Idle.181=all
CAT_StandBreathing_Idle.182=all
CAT_StandBreathing_Idle.183=all
CAT_StandBreathing_Idle.184=all
CAT_StandBreathing_Idle.185=all
CAT_StandBreathing_Idle.186=all
CAT_StandBreathing_Idle.188=all
CAT_StandBreathing_Idle.189=all
CAT_StandBreathing_Idle.190=all
CAT_StandBreathing_Idle.191=all
CAT_StandBreathing_Idle.192=all
CAT_StandBreathing_Idle.193=all
CAT_StandBreathing_Idle.197=all
CAT_StandBreathing_Idle.210=all
CAT_StandBreathing_Idle.211=all
CAT_StandBreathing_Idle.213=all
CAT_StandBreathing_Idle.214=all
CAT_StandBreathing_Idle.216=all
CAT_StandBreathing_Idle.218=all
CAT_StandBreathing_Idle.220=all
CAT_StandBreathing_Idle.221=all
CAT_StandBreathing_Idle.222=all
CAT_StandBreathing_Idle.223=all
CAT_StandBreathing_Idle.224=all
CAT_StandBreathing_Idle.225=all
CAT_StandBreathing_Idle.226=all
CAT_StandBreathing_Idle.227=all
CAT_StandBreathing_Idle.228=all
CAT_StandBreathing_Idle.229=all
CAT_StandBreathing_Idle.230=all
CAT_StandBreathing_Idle.231=all
CAT_StandBreathing_Idle.232=all
CAT_StandBreathing_Idle.233=all
CAT_StandBreathing_Idle.234=all
CAT_StandBreathing_Idle.235=all
CAT_StandBreathing_Idle.236=all
CAT_StandBreathing_Idle.237=all
CAT_StandBreathing_Idle.238=all
CAT_StandBreathing_Idle.239=all
CAT_StandBreathing_Idle.240=all
CAT_StandBreathing_Idle.241=all
CAT_StandBreathing_Idle.242=all
CAT_StandBreathing_Idle.243=all
CAT_StandBreathing_Idle.244=all
CAT_StandBreathing_Idle.245=all
CAT_StandBreathing_Idle.246=all
CAT_StandBreathing_Idle.247=all
CAT_StandBreathing_Idle.248=all
